@using System.Data

@{
    ViewBag.Title = "View Filme";
    DataTable CaseProd = ViewBag.CaseProductie;
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Lista Filme</td>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow currentRow in CaseProd.Rows)
        {
            <tr>
                <td>@currentRow["Nume"] </td>
            </tr>
        }
    </tbody>
</table>