@using System.Data
@{
    ViewBag.Title = "DouaCaseProductie";
    DataTable table = ViewBag.CaseProductie;
}

<h2>Filme cu rating 5/5</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Titlu</td>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow currentRow in table.Rows)
        {
            <tr>
                <td>@currentRow["Nume"] </td>
            </tr>
        }
    </tbody>
</table>

